body{;
}
header{
    border:solid;
}
h1{
    text-align:center;
    font-size:50px;
}
section {;
}

h2{
    clear:left;
    border:solid;
    text-align:center;
    font-size:35px;

}

#grid-floats {
  box-sizing:border-box;


}
.grid-item {
    float:left;
    width:45%;
    margin:5px;
    border:solid 1px; 
    border-color:black;
    list-style: none;
}

#grid-floats .grid-item:first-child {
    width:94%;}
}

h3
img
p


#grid-flex{ 
    display:flex;
    flex-wrap:wrap;
    
}

#grid-flex .grid-item{
    border:solid 1px; 
    border-color:black;  
    width:45%;
    margin:5px; 
    list-style: none;
}

img{width:150px;
}

#grid-flex .grid-item:first-child {
    width:94%;}


@media screen and (min-width:750px){
    header{
        width:90%;
    }
    h2{
        width:90%;
    }
    #grid-floats {
        width:90%;
    }
    .grid-item{
        width:28%;
    }
    .grid-item:first-child {
        width:45%;
    }
    .grid-item:second-child {
        width:45%;
    }
    #grid-flex{
        width:90%;
    }
        
}
    
@media screen and (min-width:950px){
    header{
        width:95%;
    }
    h2{
        width:95%;
    }
    #grid-floats {
        width:99%;
    }
   #grid-floats .grid-item{
        width:22.5%;
    }
    #grid-floats .grid-item:first-child {
        width:35%;
    }
    #grid-floats .grid-item:second-child {
        width:35%;
    }
    #grid-flex{
        width:95%;
    #grid-floats .grid-item{
        width:22.5%;
    }
    #grid-flex .grid-item:first-child {
        width:35%;
    }
    #grid-flex .grid-item:second-child {
        width:35%;
    }
    img {
        width:60%;}
    }
        
}
    